:root {
  --black: #000;
  --gray: #191818;
  --red: #aa0505;
  --light-blue: #0aa7da;
  --white: #f7f7f7;
}

* {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  background-color: var(--gray);
  color: var(--white);
  height: 100vh;
  text-align: center;

  display: grid;
  place-items: center;
}

.container {
  margin: auto;
  width: min(90vw, 720px);
}

/* ========== MAIN SECTION ========== */

main h1 {
  font: 400 4rem/1.5 "Oswald", sans-serif;
}

main h2 {
  font: 200 2rem/1.5 "Oswald", sans-serif;
  margin: 1rem 0 3rem;
}

/* ===== DICE ===== */

#dice {
  display: flex;
  justify-content: space-around;
}

.dice-box i.fas {
  color: var(--white);
}

#dice p {
  font: 200 1.5rem "Oswald";
}

/* ===== BUTTON ===== */

#button {
  margin: 1rem auto 0;
}

#button p {
  font: 200 2rem "Oswald";
  margin: 0 auto 1rem;
}

.btn-roll {
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 0.3rem;
  color: var(--white);
  font: 400 1.5rem "Oswald";
  height: 3rem;
  margin: 0 5% 0 0;
  width: 8rem;

  transition: 0.2s;
}

.btn-roll:hover {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;

  transition: 0.2s;
}

.btn-reset {
  background-color: transparent;
  border: 1px solid var(--red);
  border-radius: 0.3rem;
  color: var(--red);
  font: 400 1.5rem "Oswald";
  height: 3rem;
  width: 8rem;

  transition: 0.2s;
}

.btn-reset:hover {
  background-color: var(--red);
  border: 1px solid var(--red);
  color: var(--white);
  cursor: pointer;

  transition: 0.2s;
}

/* ========== FOOTER SECTION ========== */

footer p {
  font: 400 1rem "Oswald";
}

footer a {
  color: var(--light-blue);
}

.social-media {
  margin: 1rem auto 0;
}

.social-media .fab {
  color: var(--white);
  padding: 0 0.3rem;
}

/* ========== RESPONSIVE ========== */

@media (max-width: 480px) {
  main h1 {
    font: 400 3rem/1.5 "Oswald", sans-serif;
  }

  main h2 {
    font: 200 1.5rem/1.5 "Oswald", sans-serif;
  }

  #dice p {
    font: 400 1.1rem "Open Sans ";
  }
}
